<li class="list-group-item">
	<div class="row">
		<div class="col-sm-8 burger_name">{{this.burger_name}}</div>
		<div class="col-sm-4 d-flex justify-content-end">
			{{#if devoured}}
			<button class="burgerbtn delete-burger btn btn-danger" data-id="{{this.id}}">Remove</button>
			{{else}}
			<button class="burgerbtn change-devour btn btn-warning" data-id="{{this.id}}">Devour</button>
			{{/if}}
		</div>
	</div>
</li>
